:root{
    --brand-color: #212121;
    --basic-color: #FFFFFF;
    --background-color: #2F303A;
    --secondaryBg-color: #F5F4FA;
    --effect-text-color: #2196F3;
    --hover-button:#188CE8;
    --secondaryText-color: #757575;
    --footer-text-color: rgba(255,255,255,0.6);
    --footer-icon-elipse: rgba(255,255,255,0.1);
    --font-family-ral:'Raleway', sans-serif; 
    --font-family-rob:'Roboto', sans-serif;
    --basic-border-color: #ECECEC;
    --border-color: #EEEEEE;
    --icons-color: #AFB1B8;
    --background-holder: rgba(47, 48, 58, 0.8);
    --backdrop-Bgcolor: rgba(0, 0, 0, 0.2);
}