// .benefits__list{
//     display: flex;
//     justify-content: center;
//   }
.benefits__item{
    // max-width: 270px;
    // margin-bottom: 30px;
    width: 100%;
    list-style: none;
    // &:not(:last-child){
    //     margin-right: 30px;
    // }
}

@media screen and (min-width:480px) {
    .benefits__item{
        width: 100%;
    }
}
.benefits__item:not(:last-child){
    margin-bottom: 30px;
}
@media screen and (min-width:768px) {
    .benefits{
        &__list{
            display: flex;
        flex-wrap: wrap;
        }
        &__item{
            width: 354px;
        }
        &__item:nth-child(2n+1){
            margin-right: 30px;
        }
    }
    // .benefits__list{
    //     display: flex;
    //     flex-wrap: wrap;
    //     // gap: 30px;
    // }
    // .benefits__item{
    //     width: 354px;
    // }
    // .benefits__item:nth-child(2n+1){
    //     margin-right: 30px;
    // }
}
@media screen and (min-width:1200px){
    .benefits{
        padding: 94px 0;
        &__item{
            width: 270px;
        &:not(:last-child){
            margin-right: 30px;
            margin-bottom: 0;
        }
        }
    }
}