.clients{
    @media screen and (min-width:1200px){
        padding: 94px 0;
    }

}
.clients__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}