.footer{
    width: 100%;
    padding: 60px 0;
    background-color: var(--background-color);
    text-align: center;
}
@media screen and (min-width:1200px) {
    .footer{
        text-align: start;
    }
}