.mobile-menu{
    &__nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    &__navigation{
        margin-bottom: auto;
        list-style: none;
    }
}
.menu-navigation{
    &__item{
        width: 139px;
    &:nth-child(2){
        width: 219px;
    }
    &:last-child{
        width: 192px;
    }
    &:not(:last-child){
        margin-bottom: 32px;
    }
    }
    &__link{
        text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    &:hover,
    &:focus,
    &:active{
        color: var(--effect-text-color);
    }
    }
}