.mobile-menu__network{
    display: flex;
}
.menu-network__item{
    list-style: none;
    margin-right: 10px;
}
// .menu-network__item::after{
//     content: '';
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     transform: rotate(90deg);
//     margin-right: 10px;
// }
.menu-network__span{
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}
.menu-network__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--effect-text-color);
    @media screen and (min-width:350px){
        font-size: 14px;
    }
    @media screen and (min-width:420px){
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
    }
}
.menu-navigation__link--active{
    color: var(--effect-text-color);
}