.button-box{
    display: flex;
    justify-content: center;
}
.submit{
    width: 200px;
    padding: 10px 52px;
    // margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}