@media screen and (min-width:480px){
    .buttons__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
        gap: 8px;
        width: 326px;
        height: 91px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width:768px) {
    .buttons__list{
        width: auto;
        height: auto;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:1200px) {
    .buttons__list{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
// .buttons__list{
//     margin-bottom: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
.buttons__item{
    list-style: none;
    // &:not(:last-child){
    //     margin-right: 8px;
    // }
}
// .buttons__item:not(:last-child){
//     margin-right: 8px;
// }
.portfolio__btn{
    padding: 6px 22px;
    color: var(--brand-color);
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondaryBg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active{
        color: var(--basic-color);
    background-color: var(--effect-text-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
// .portfolio__btn:active{
//     color: var(--basic-color);
//     background-color: var(--effect-text-color);
//     border-radius: 4px;
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
// }
// .portfolio__btn:hover,
// .portfolio__btn:focus{
//     color: var(--basic-color);
//     background-color: var(--effect-text-color);
//     border-radius: 4px;
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
// }