.team-item__image{
   width: 450px;
   height: 460px;
    margin-bottom: 30px;
}
.team-item{
   &__title{
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
   &__text {
   margin-bottom: 16px;
   color: var(--secondaryText-color);
   font-size: 16px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}

}
// @media screen and (min-width:768px) {
//    .team__list{
//       display: flex;
//       flex-wrap: wrap;
//    }
//    .team__item{
//       width: 354px;
//    }
//    .team__item:nth-child(2n+1){
//       margin-right: 30px;
//       // margin-bottom: 30px;
//   }
//   .team__item:nth-child(-n+2){
//    margin-bottom: 30px;
// }
//   .team-item__image{
//    width: 354px;
//    height: 374px;
//     margin-bottom: 30px;
// }
// }