.team-item{
   &__title{
   margin-bottom: 10px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
   &__text {
   margin-bottom: 16px;
   color: var(--secondaryText-color);
   font-size: 16px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
&__image{
   width: 100vw;
   margin-bottom: 30px;
}
}